doctype html
html
    head
    title Home
    style 
        include ./home_style.css
    body
        h1(style="text-align: center") Admin
        h2(style="text-align: center") Người dùng chưa liên kết thẻ
        table(class="table") 
            tr 
                th ID
                th Username 
                th Code
                th Link
            each user, index in users
                tr.row
                    td #{index + 1}
                    td #{user.username}
                    td #{user.codeToGetTag}
                    td 
                        button(onclick=`link('${user._id}')`).btn Link

    script(type='text/javascript').
        console.log("Hello world")
        function link(id) {
            fetch(`/admin/write?id=${id}`)
            .then(res => res.text())
            .then(text => alert(text))
        }
