doctype html
html
    head
    title Home
    style 
        include ./home_style.css
    body
        h1(style="text-align: center") Check-in/Check-out
        div(class="container")
            div(class="info-wrap")
                div(class="info")
                    p Name: #{fullName}
                    p Balance: #{balance}
                div(class="div-logout")
                    a(href="/user/logout")
                            button(type='submit').btn Logout
            div(class="Topup")
                button(type="button", onclick="topUp()").btn Top up
                if !linked
                    p Code to get card: #{codeToGetTag}
            table(class="table") 
                tr 
                    th ID
                    th In/Out 
                    th Time
                    th Fee  
                each value, index in history
                    tr
                        th #{index + 1}
                        th #{value.dir}
                        th #{value.time}
                        th #{value.fee}

    script(type='text/javascript').
        console.log("Hello world")
        function topUp() {
            fetch("/user/topup").then(res => res.json())
            .then(data => {
            const {message} = data
            alert(message)
            })
        }
