doctype html
html
    head
    title Home
    style 
        include ./home_style.css
    body
        h1(style="text-align: center") Check-in/Check-out
        .container
            div(class="info-wrap")
                table.content 
                    tr 
                        th Name 
                        td #{fullName}
                    tr
                        th Balance
                        td #{balance}
                div(class="div-logout")
                    a(href="/user/logout")
                            button(type='submit').btn Logout
            div(class="Topup")
                button(type="button", onclick="topUp()").btn Top up
                if !linked
                    p Code to get card: #{codeToGetTag}
            table.table
                thead 
                    // th.th ID
                    th.th In/Out 
                    th.th Time
                    th.th Fee
                tbody#historyBody
                    each value, index in history
                            tr.row
                                // td #{index + 1}
                                td #{value.dir}
                                td #{value.time}
                                td #{value.fee}
            .popup#popup 
                table.content
                    tr
                        th Bank:
                        td Bank for investment and Development of Vietnam (BIDV)
                    tr
                        th Account number:
                        td 3149193588
                    tr 
                        th Account name:
                        td Nguyen Tien Ngoc
                    tr 
                        th Transfer content: 
                        td#topUpKey CICOAAAAAA
                button(onclick="closePopUp()").btn OK
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
        const socket = io()
        const historyBody =  document.getElementById("historyBody")

        socket.on("updateTable", (data) => {
            historyBody.innerHTML = `<tr class="row">
                                        <td> ${data.dir} </td>
                                        <td> ${data.time} </td>
                                        <td> ${data.fee} </td>
                                    </tr>` + historyBody.innerHTML
        })

        function topUp() {
            fetch("/user/topup").then(res => res.json())
            .then(data => {
            const {key} = data
            document.getElementById("topUpKey").innerHTML  = `${key}`
            document.getElementById("popup").style.visibility = "visible"
            })
        }
        function closePopUp() {
            document.getElementById("popup").style.visibility = "hidden"
        }
