doctype html
html
    head
        title Home
        style 
            include ./home_style.css
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        .container
            div.info-wrap
                table.content 
                    tr 
                        th Name 
                        td #{fullName}
                    tr
                        th Balance
                        td#balance-id #{balance}
                

            div(class="Topup")
                button(type="button", onclick="topUp()").btn Top up
                if !linked
                    p temp code: #{codeToGetTag}
                div(class="div-logout")
                    a(href="/user/logout")
                        button(type='submit').btn Logout
            table.table
                thead 
                    // th.th ID
                    th.th In/Out 
                    th.th Time
                    th.th Fee
                tbody#historyBody
                    each value, index in history
                            tr.row
                                // td #{index + 1}
                                td #{value.dir}
                                td #{value.time}
                                td #{value.fee}
            .popup#popup 
                table.content
                    tr
                        th Bank:
                        td Bank for investment and Development of Vietnam (BIDV)
                    tr
                        th Account number:
                        td 3149193588
                    tr 
                        th Account name:
                        td Nguyen Tien Ngoc
                    tr 
                        th Transfer content: 
                        td#topUpKey
                span#top-up-message
                button(onclick="closePopUp()").btn OK
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
        const socket = io()
        const historyBody =  document.getElementById("historyBody")
        const balanceElement = document.getElementById("balance-id")
        const popUpElement = document.getElementById("popup")
        const topUpMessage = document.getElementById("top-up-message")

        socket.on("updateTable", (payload) => {
            const {history, balance} = payload
            historyBody.innerHTML = `<tr class="row">
                                        <td> ${history.dir} </td>
                                        <td> ${history.time} </td>
                                        <td> ${history.fee} </td>
                                    </tr>` + historyBody.innerHTML

            balanceElement.innerHTML = balance
        })

        socket.on("top-up-success", (payload) => {
            const {balance, key, amount} = payload

            balanceElement.innerHTML = balance

            if(popUpElement.style.visibility == "visible")
                topUpMessage.innerHTML = `Top up successfully, amount = ${amount}`
        })

        function topUp() {
            fetch("/user/topup").then(res => res.json())
            .then(data => {
            const {key} = data
            document.getElementById("topUpKey").innerHTML  = `${key}`
            popUpElement.style.visibility = "visible"
            })
        }
        function closePopUp() {
            popUpElement.style.visibility = "hidden"
            topUpMessage.innerHTML = ""
        }
